

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}

html, body
{
    font-size: 80%;
    height: 100vh;
}


.box
{
    width: 25rem;
    height: 35rem;
    background-color: #a5bbdd;
    border-radius: 0.5rem;
    position: relative;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
    
}

.wave
{
    opacity: 0.4;
    position: absolute;
    top: 123%;
    left: 50%;
    background-color: rgb(215, 232, 243);
    width: 50rem;
    height: 50rem;
    margin-left: -25rem;
    margin-top: -25rem;
    transform-origin: 50% 48%;
    border-radius: 43%;
    animation: drift 3000ms infinite linear;
    z-index: 1;
}
.wave•-three
{
    animation: drift 5000ms infinite linear; 
    opacity: 0.1;
    z-index: 2 !important;    
    
}

.wave•-one
{
    animation: drift 5000ms infinite linear;
    opacity: 0.2;
    z-index: 2 !important;
    
}

.wave•-two
{
    animation: drift 3000ms infinite linear;
    opacity: 0.2;
    z-index:2 !important;

}
.box::after
{
    
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 11;
    transform: translate3d(0, 0, 0);
}

@keyframes drift {
    from{
        transform: rotate(360deg);
    }
    from {
        transform: rotate(360deg);
    }
}

.information
{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45%;
    z-index: 4;
}

.locate{
    margin-top: 0.2rem;
    text-align: center;
    font-weight: 800;
    font-size: 3rem;
    font-weight: 600;
    
}

.fa-temperature-low
{
    animation: rotates 3s linear infinite alternate;
    font-size: 2.2rem;
    color:  #524f4f;


    
}

@keyframes rotates
{
    from{
        transform: translate(-0.5rem);
    }
    to{
        transform:translate(0.5rem);
    }
}

p
{
    margin-top: 1.2rem;
    text-align: center;
    font-weight: 800;
    font-size: 1.5rem;
    font-weight: 600;
    
}

.temp
{
    margin-top: 1.2rem;
    text-align: center;
    font-weight: 800;
    font-size: 2.6rem;
    font-weight: 600;

}

.maxmin
{
    margin-top: 1.2rem;
    text-align: center;
    font-weight: 800;
    font-size: 1.5rem;
    font-weight: 600;
}

#weather
{
    height: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}

#weather .fas{
    font-size: 6rem;
    animation: fas-anime 3s linear infinite alternate;
    
}
@keyframes fas-anime
{
    from {
        transform: scale(0.8);
    }
    to {
        transform: scale(1.1);
    }
}












